.Footer{
    background: white;
    padding: 4px 8px;
    min-width: 10vh;
}
.Sider{
    background: #ccedfc;
}
.MainPage .Dropdown{
    margin-left: 1cm;
}
.User{
    align-self: right;
}
.CSILOGO{
    width: auto;
    height: 1.5cm;
    margin: 0%;
    margin-left: 1.5cm;
    margin-right: 2cm;
}
ul{
    margin: 0% auto;
    font-size: 18px;
    padding: 0px;
}

.SiderItem{
    margin-top: 1.5cm;
    margin-right: 0%;
}
.Sider ul li{
    margin-top: 10%;
    margin-bottom: 10%;
    padding-left: 0.5cm;
    text-align: left;
}
.Header{
    padding-left: 1%;
    padding-right: 1%;
}
.Header .Avater{
    position: absolute;
    right: 2cm;
}
