.Number{
    position: absolute;
    right: 1.8cm;
    width: 1.5cm;
  }
  .Order{
    position: absolute;
    right: 0.3cm;
    width: 1.5cm;
  }
.analyze{
  position: absolute;
  top:0.3cm;
    right: 0.5cm;
    width: 1.5cm;
}